<div class="component_body">
    <h1 class="component_title">Invoices</h1>
    <div class="inner_body">
            <div class="invoice_form">
            <input type="text" placeholder="Search by invoice number"[(ngModel)]="filterValue">
            <button type="button" (click)="filterInvoice()">Filter</button>
                    </div>
        <div class="table_view">

            <p-table [value]="invoiceList" [paginator]="true" [rows]="10" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header">
                    <tr class="custom-heder">
                        <th style="min-width:150px">Invoice Number</th>
                        <th style="min-width:150px">Date</th>
                        <th style="min-width:100px">Vendor Name</th>
                        <th style="min-width:150px">Amount</th>
                        <th style="min-width:150px">Submitter</th>
                        <th style="min-width:150px">Status</th>
                        <th style="min-width:100px">Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-invoice>
                    <tr>
                        <td style="min-width:150px" (click)="viewInvoice(invoice.invoiceNumber)">{{ invoice.invoiceNumber }}</td>
                        <td style="min-width:150px">{{ trimDate(invoice.invoiceCreatedDate) }}</td>
                        <td style="min-width:100px">{{ invoice.vendorDetails.billTo }}</td>
                        <td style="min-width:150px">{{ invoice.total.grandTotal }}</td>
                        <td style="min-width:150px">{{ invoice.submitter.submitterName }}</td>
                        <td style="min-width:150px">{{ invoice.invoiceStatus }}</td>
                        <td style="min-width:100px">
                            <button id="view" (click)="viewInvoice(invoice.invoiceNumber)">View</button>
                            <button id="invoice" *ngIf="invoice.invoiceStatus == 'SUBMITTED'" (click)="editInvoice(invoice.invoiceNumber)">Invoice</button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>