<div class="component_body">
    <h1 class="component_title">Create Invoice</h1>
    <div class="inner_body">
        <div [formGroup]="invoiceCreateFormGroup">
            <!-- <label for="client">Client Name</label>
             <input formControlName="clientName" type="text" id="client" placeholder="Enter client name" required>-->


            <!-- Flexbox container for horizontal alignment -->
            <div class="table-row-container">

                <!-- Account table -->
                <div class="table-container">
                    <table>

                        <tbody>
                            <tr>
                                <th>Account Type</th>
                                <td>
                                    <select formControlName="accountType" class="small-input">
                                        <option *ngFor="let accountType of accountsList" [value]="accountType.name">
                                            {{accountType.name}}
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>Payment Type</th>
                                <td>
                                    <select formControlName="paymentType" class="small-input">
                                        <option *ngFor="let paymentType of paymentTypeList" [value]="paymentType">
                                            {{paymentType}}
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>Submitter</th>
                                <td>
                                   <b>{{userDetails.name}} {{userDetails.surname}}</b>
                                </td>
                            </tr>
                            <tr>
                                <th>Department</th>
                                <td> 
                                    <b>{{userDetails.department}}</b>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Bill to table -->
                <div class="table-container">
                    <table>
                        <thead>

                        </thead>
                        <tbody>
                            <tr>
                                <th>Bill To</th>
                                <td>
                                    <select formControlName="billTo" class="small-input"
                                        (change)="onVendorChangeEvent($event)">
                                        <option *ngFor="let vendor of vendorList" [value]="vendor.vendorName">
                                            {{vendor.vendorName}}
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>Payment Due date</th>
                                <td>
                                    <input type="date" formControlName="paymentDueDate" class="small-input  fw-bold"
                                        (change)="paymentDueDateType($event)">
                                </td>
                            </tr>
                            <tr>
                                <th>Vendor Bank Details</th>
                                <td>
                                    <ng-container *ngIf="selectedVendorBankDetails">
                                        <div class="bank-detail-container">
                                            <table class="table w-100">
                                                <tbody>
                                                    <tr>
                                                        <th>Bank Name</th>
                                                        <td>{{ selectedVendorBankDetails.bankName }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>IBAN</th>
                                                        <td>{{ selectedVendorBankDetails.ibanNumber }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>ADDRESS</th>
                                                        <td>{{ selectedVendorBankDetails.bankAddress }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </ng-container>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Items Table -->
            <div class="item-section">
                <label>Items</label>
                <div class="table-responsive">
                    <table>
                        <thead>
                            <tr>
                                <th style="min-width: 50px">SR.No</th>
                                <th style="min-width: 170px">Vendor Invoice Ref</th>
                                <th style="min-width: 150px">Vendor</th>
                                <th style="min-width: 150px">InvoiceDate</th>
                                <th style="min-width: 170px">Cost Code</th>
                                <th style="min-width: 170px">Expense Type</th>
                                <th style="min-width: 170px">Rate of SAR</th>
                                <th style="min-width: 170px">Currency</th>
                                <th style="min-width: 170px">Total</th>
                                <th style="min-width: 170px">Reccuring</th>
                                <th style="min-width: 200px">Description</th>
                                <th style="min-width: 200px">invoiceTotal</th>
                                <th style="min-width: 170px">Action</th>
                            </tr>
                        </thead>
                        <tbody formArrayName="items">
                            <tr *ngFor="let item of items.controls; let i = index" [formGroupName]="i">
                                <td style="min-width: 50px">
                                    <span>{{i+1}}</span>
                                </td>

                                <td style="min-width: 170px">
                                    <input type="text" formControlName="vendorInvoiceRef" placeholder="vendorInvoiceRef"
                                        class="small-input" (input)="isVendorInvoiceRefAlreadyExist($event)">
                                </td>

                                <!-- Vendor Name Dropdown -->
                                <td>
                                    <select formControlName="vendorName" class="small-input">
                                        <option *ngFor="let vendor of vendorList" [value]="vendor.vendorName">
                                            {{vendor.vendorName}}
                                        </option>
                                    </select>
                                </td>


                                <td>
                                    <input type="date" formControlName="vendorInvoiceDate" class="small-input"
                                        (change)="onDateChange($event, item)">
                                </td>

                                <!-- Cost Code Dropdown -->
                                <td>
                                    <select formControlName="costCode" class="small-input">
                                        <option *ngFor="let costCenter of costCenterList" [ngValue]="costCenter.code">
                                            {{costCenter.code}}
                                        </option>
                                    </select>
                                </td>

                                <!-- Expense Code Dropdown -->
                                <!-- Expense Type Field -->
                                <td>
                                    <input type="text" formControlName="expenseType" class="small-input"
                                        placeholder="Select Expense Type" readonly
                                        (click)="openExpenseTypeDialog(item)">
                                </td>
                                <!-- <td>
                                    <input type="number" formControlName="rateOfSAR" placeholder="rateOfSAR"
                                        class="small-input" (change)="getTotalInvoiceAmountForRow(item)">
                                </td> -->
                                <td>
                                    <input type="number" formControlName="rateOfSAR" placeholder="1.00" class="small-input"
                                        value="1.00" readonly>
                                </td>
                                <!-- <td>
                                    <select formControlName="currency" class="small-input">
                                        <option *ngFor="let currencyValue of currenciesList"
                                            [ngValue]="currencyValue.currencyName">
                                            {{ currencyValue.currencyName}}
                                        </option>
                                    </select>
                                </td> -->
                                <td>
                                    <input type="text" formControlName="currency" placeholder="SAR" class="small-input"
                                        value="SAR" readonly>
                                </td>
                                <td>
                                    <input type="number" formControlName="invoiceAmount" placeholder="total"
                                        class="small-input" (change)="getTotalInvoiceAmountForRow(item)">
                                </td>
                                
                                <td>
                                    <select formControlName="recurring" class="small-input">
                                        <option *ngFor="let recurring of recurrings" [ngValue]="recurring">{{recurring}}
                                        </option>
                                    </select>
                                </td>
                                <td>
                                    <input type="text" formControlName="description" placeholder="Description">
                                </td>

                                <td>
                                    <input type="number" formControlName="invoiceTotal" placeholder="Total"
                                        class="small-input" readonly>
                                </td>
                                <td>
                                    <!-- <button type="button" (click)="removeItem(i)">Remove</button> -->
                                    <button id="delete" type="button" class="delete-btn ml-5" (click)="removeItem(i)">
                                        <i class="fa fa-trash" aria-hidden="true"></i> <!-- Font Awesome trash icon -->
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <h3 class="text-danger">{{isVendorInvoiceRefAlreadyExistMessage}}</h3>
                </div>

                <button id="addItem" type="button" (click)="addItem()">Add Item</button>
            </div>

            <!-- Sub Total -->
            <div class="table-container">
                <table>
                    <tbody>
                        <tr>
                            <th>Subtotal</th>
                            <td>
                                <input type="text" formControlName="subTotalAmount" placeholder="Total"
                                    class="small-input text-center" readonly>
                            </td>
                        </tr>
                        <tr>
                            <th>Adjustment</th>
                            <input type="number" formControlName="adjustments" placeholder="adjustments"
                                class="small-input text-center">
                        </tr>
                        <tr>
                            <th>Grand Total</th>
                            <td class="text-primary fw-bold">{{ (getTotalInvoiceAmount() + (adjustments?.value || 0) ).toFixed(2) }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div style="display: flex; gap: 10px;">
                <button id="saveInvoice" class="btn btn-primary ml-2 px-3 py-2 rounded text-white" type="button"
                    (click)="saveInvoice()">Save Invoice</button>
                <button class="btn btn-danger ml-2 px-3 py-2 rounded text-white" type="button"
                    (click)="navigateToInvoiceView()">Cancel</button>
            </div>

        </div>
    </div>
</div>