

  <div class="component_body">
    <h1 class="component_title">Dashboard</h1>
    <div class="inner_body">
      <div class="dashboard_content">
        <div class="content_2">
          <div class="content_item">
              <div class="content_head">
                 <h2><i class="bi bi-file-earmark-bar-graph-fill"></i> Invoice Summary</h2>
                 <button>Year to Date</button>
              </div>
              <div class="items">
              
                  <div class="item_card card_1">
                    <p class="top_text">Draft Invoices</p>
                    <p class="middle_text">$2</p>
                    <p class="botom_text">View Draft Invoice</p>
                  </div>
                  <div class="item_card card_2">
                    <p class="top_text">Sent Invoices</p>
                    <p class="middle_text">$4</p>
                    <p class="botom_text">View Sent Invoice</p>
                  </div>
                  <div class="item_card card_3">
                    <p class="top_text">Overdue Invoices</p>
                    <p class="middle_text">$40</p>
                    <p class="botom_text">View Overdue Invoice</p>
                  </div>
                  <div class="item_card card_4">
                    <p class="top_text">Payments Collected</p>
                    <p class="middle_text">$20</p>
                    <p class="botom_text">View Payments</p>
                  </div>
    
              
              </div>
          </div>
          <div class="content_item">
              <div class="content_head">
                 <h2><i class="bi bi-file-earmark-bar-graph-fill"></i> Quote Summary</h2>
                 <button>Year to Date</button>
              </div>
              <div class="items">
                  <div class="item_card card_1">
                    <p class="top_text">Draft Quotes</p>
                    <p class="middle_text">$2</p>
                    <p class="botom_text">View Draft Quotes</p>
                  </div>
                  <div class="item_card card_2">
                    <p class="top_text">Sent Quotes</p>
                    <p class="middle_text">$4</p>
                    <p class="botom_text">View Sent Quotes</p>
                  </div>
                  <div class="item_card card_3">
                    <p class="top_text">Rejected Quotes</p>
                    <p class="middle_text">$40</p>
                    <p class="botom_text">View Rejected Quotes</p>
                  </div>
                  <div class="item_card card_4">
                    <p class="top_text">Approved Quotes</p>
                    <p class="middle_text">$20</p>
                    <p class="botom_text">View Approved Quotes</p>
                  </div>
                
                
              </div>
          </div>
        </div>
        <div class="content_2">
            <div class="content_item">
                <div class="content_head">
                   <h2><i class="bi bi-file-earmark-bar-graph-fill"></i>Recent Client Activity</h2>
                   
                </div>
                <div class="items">
              
                    <div class="item_card">
                      <p class="top_text">Date</p>
                      
                    </div>
                    <div class="item_card">
                      <p class="top_text">Activity</p>
                     
                    </div>
                  
                </div>
            </div>
        </div>

      </div>
    </div>
    
    
  </div>
