    <h2 mat-dialog-title>Change Password</h2>
    
  
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <div class="form-field">
      <label>Email</label>
      <input matInput type="email" formControlName="email" [readonly]="isAdmin" placeholder="Email" />
      <mat-error *ngIf="changePasswordForm.get('email')?.invalid && changePasswordForm.get('email')?.touched" class="error">
        Email is required
      </mat-error>
    </div>
  
    <div class="form-field" *ngIf="!isAdmin">
      <label>Old Password</label>
      <input matInput type="password" formControlName="oldPassword" placeholder="Enter your old password" />
      <mat-error *ngIf="changePasswordForm.get('oldPassword')?.invalid && changePasswordForm.get('oldPassword')?.touched" class="error">
        Old password is required
      </mat-error>
    </div>
  
    <div class="form-field">
      <label>New Password</label>
      <input matInput type="password" formControlName="newPassword" placeholder="Enter your new password" />
      <mat-error *ngIf="changePasswordForm.get('newPassword')?.invalid && changePasswordForm.get('newPassword')?.touched" class="error">
        New password is required
      </mat-error>
    </div>
  
    <div mat-dialog-actions class="action-buttons">
      <button mat-button class="cancel-button" (click)="onCancel()">Cancel</button>
      <button mat-raised-button color="primary" class="submit-button" type="submit" [disabled]="changePasswordForm.invalid">Submit</button>
    </div>
  </form>
  