<div class="component_body">
    <h1 class="component_title">View Invoice Details</h1>
    <h4 class="component_title text-center fs-6">INVOICE NO : {{invoiceCreateFormGroup.get('invoiceNumber')?.value}}
    </h4>
    <div class="inner_body">
        <div [formGroup]="invoiceCreateFormGroup">
            <!-- <label for="client">Client Name</label>
             <input formControlName="clientName" type="text" id="client" placeholder="Enter client name" required>-->


            <!-- Flexbox container for horizontal alignment -->
            <div class="table-row-container">

                <!-- Account table -->
                <div class="table-container">
                    <table>

                        <tbody>
                            <tr>
                                <th>Account Type</th>
                                <td>
                                    <select formControlName="accountType" class="small-input">
                                        <option *ngFor="let accountType of accountsList" [value]="accountType.name">
                                            {{accountType.name}}
                                        </option>

                                        <option *ngIf="isAccountTypeCustom()"
                                            [ngValue]="invoiceCreateFormGroup.get('accountType')?.value || ''">
                                            {{ invoiceCreateFormGroup.get('accountType')?.value }}
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>Payment Type</th>
                                <td>
                                    <select formControlName="paymentType" class="small-input">
                                        <option *ngFor="let paymentType of paymentTypeList" [value]="paymentType">
                                            {{paymentType}}
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>Submitter</th>
                                <td>
                                    <select formControlName="submitter" class="small-input"
                                        (change)="onSubmitterChangeEvent($event)">
                                        <option *ngFor="let department of departmentList"
                                            [value]="department.submitter">
                                            {{department.submitter}}
                                        </option>

                                        <option *ngIf="isSubmitterCustom()"
                                            [ngValue]="invoiceCreateFormGroup.get('submitter')?.value || ''">
                                            {{ invoiceCreateFormGroup.get('submitter')?.value }}
                                        </option>

                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>Department</th>
                                <td> <label
                                        class="department-lable">{{invoiceCreateFormGroup.get('department')?.value}}</label>
                                    <!-- <select formControlName="department" class="small-input" [disabled]=true>
                                        <option *ngFor="let department of departmentList" [value]="department.departmentName">
                                            {{department.departmentName}}
                                        </option>
                                    </select> -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- Bill to table -->
                <div class="table-container">
                    <table>
                        <thead>

                        </thead>
                        <tbody>
                            <tr>
                                <th>Bill To</th>
                                <td>
                                    <ng-container *ngIf="invoiceCreateFormGroup.get('billTo')?.value === 'PETTY CASH' ">
                                        <p>{{ invoiceCreateFormGroup.get('billTo')?.value }}</p>
                                    </ng-container>
                                    <ng-container *ngIf="invoiceCreateFormGroup.get('billTo')?.value !== 'PETTY CASH' ">
                                        <select formControlName="billTo" class="small-input">
                                            <option *ngFor="let vendor of vendorList" [value]="vendor.vendorName">
                                                {{vendor.vendorName}}
                                            </option>

                                            <option *ngIf="isBillToCustom()"
                                                [ngValue]="invoiceCreateFormGroup.get('billTo')?.value || ''">
                                                {{ invoiceCreateFormGroup.get('billTo')?.value }}
                                            </option>
                                        </select>
                                    </ng-container>
                                </td>
                            </tr>
                            <tr>
                                <th>Payment Due date</th>
                                <td>
                                    <input type="date" formControlName="paymentDueDate" class="small-input  fw-bold"
                                        (change)="paymentDueDateType($event)">
                                </td>
                            </tr>
                            <tr>
                                <th>Vendor Bank Details</th>
                                <td>Dropdown</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Items Table -->
            <div class="item-section">
                <label>Items</label>
                <div class="table-responsive">
                    <table>
                        <thead>
                            <tr>
                                <th style="min-width: 50px">SR.No</th>
                                <th style="min-width: 170px">Vendor Invoice Ref</th>
                                <th style="min-width: 150px">Vendor</th>
                                <th style="min-width: 150px">InvoiceDate</th>
                                <th style="min-width: 170px">Cost Code</th>
                                <th style="min-width: 170px">Expense Type</th>
                                <th style="min-width: 170px">Rate of SAR</th>
                                <th style="min-width: 170px"
                                    *ngIf="invoiceCreateFormGroup.get('billTo')?.value !== 'PETTY CASH'">Total</th>
                                <th style="min-width: 170px">Currency</th>
                                <th style="min-width: 170px"
                                    *ngIf="invoiceCreateFormGroup.get('billTo')?.value !== 'PETTY CASH'">Reccuring</th>
                                <th style="min-width: 200px">Description</th>
                                <th style="min-width: 200px"
                                    *ngIf="invoiceCreateFormGroup.get('billTo')?.value !== 'PETTY CASH'">invoiceTotal
                                </th>
                                <th style="min-width: 200px"
                                    *ngIf="invoiceCreateFormGroup.get('billTo')?.value === 'PETTY CASH'">Submitter</th>
                                <th style="min-width: 200px"
                                    *ngIf="invoiceCreateFormGroup.get('billTo')?.value === 'PETTY CASH'">ItemAmount</th>
                                <th style="min-width: 200px"
                                    *ngIf="invoiceCreateFormGroup.get('billTo')?.value === 'PETTY CASH'">Quantity</th>
                                <th style="min-width: 200px"
                                    *ngIf="invoiceCreateFormGroup.get('billTo')?.value === 'PETTY CASH'">SubTotal</th>
                                <th style="min-width: 200px"
                                    *ngIf="invoiceCreateFormGroup.get('billTo')?.value === 'PETTY CASH'">PtcAdvance</th>
                                <th style="min-width: 200px"
                                    *ngIf="invoiceCreateFormGroup.get('billTo')?.value === 'PETTY CASH'">Total</th>
                                <th style="min-width: 170px" *ngIf="checkinvoiceStatus !== 'SUBMITTED' ">Action</th>
                            </tr>
                        </thead>
                        <tbody formArrayName="items">
                            <tr *ngFor="let item of items.controls; let i = index" [formGroupName]="i">
                                <td style="min-width: 50px">
                                    <span>{{i+1}}</span>
                                </td>

                                <td style="min-width: 170px">
                                    <input type="text" formControlName="vendorInvoiceRef" placeholder="vendorInvoiceRef"
                                        class="small-input">
                                </td>

                                <!-- Vendor Name Dropdown -->
                                <td>
                                    <select formControlName="vendorName" class="small-input">
                                        <option *ngFor="let vendor of vendorList" [value]="vendor.vendorName">
                                            {{vendor.vendorName}}
                                        </option>

                                        <option *ngIf="isVendorCustom(i)"
                                            [ngValue]="items.at(i)?.get('vendorName')?.value || ''">
                                            {{ items.at(i)?.get('vendorName')?.value }}
                                        </option>
                                    </select>
                                </td>


                                <td>
                                    <input type="date" formControlName="vendorInvoiceDate" class="small-input"
                                        (change)="onDateChange($event, item)">
                                </td>

                                <!-- Cost Code Dropdown -->
                                <td>
                                    <select formControlName="costCode" class="small-input">
                                        <option *ngFor="let costCenter of costCenterList" [ngValue]="costCenter.code">
                                            {{ costCenter.code }}
                                        </option>

                                        <option *ngIf="isCostCodeCustom(i)"
                                            [ngValue]="items.at(i)?.get('costCode')?.value || ''">
                                            {{ items.at(i)?.get('costCode')?.value || 'Custom' }}
                                        </option>
                                    </select>
                                </td>



                                <!-- Expense Code Dropdown -->
                                <td>
                                    <select formControlName="expenseType" class="small-input">
                                        <option *ngFor="let expenseType of expenseTypeList"
                                            [ngValue]="expenseType.expenseCode">
                                            {{expenseType.expenseCode}}</option>

                                        <option *ngIf="isExpenseTypeCustom(i)"
                                            [ngValue]="items.at(i)?.get('expenseType')?.value || ''">
                                            {{ items.at(i)?.get('expenseType')?.value }}
                                        </option>
                                    </select>
                                </td>
                                <td>
                                    <input type="number" formControlName="rateOfSAR" placeholder="rateOfSAR"
                                        class="small-input" (change)="getTotalInvoiceAmountForRow(item)"
                                        (change)="getTotalInvoiceAmountForRowPettyCash(item)">
                                </td>


                                <td *ngIf="invoiceCreateFormGroup.get('billTo')?.value !== 'PETTY CASH'">
                                    <input type="number" formControlName="invoiceAmount" placeholder="total"
                                        class="small-input" (change)="getTotalInvoiceAmountForRow(item)">
                                </td>


                                <td>
                                    <select formControlName="currency" class="small-input">
                                        <option *ngFor="let currencyValue of currenciesList"
                                            [ngValue]="currencyValue.currencyName">
                                            {{ currencyValue.currencyName}}
                                        </option>
                                        <option *ngIf="isCurrencyCustom(i)"
                                            [ngValue]="items.at(i)?.get('currency')?.value || ''">
                                            {{ items.at(i)?.get('currency')?.value }}
                                        </option>
                                    </select>
                                </td>

                                <td *ngIf="invoiceCreateFormGroup.get('billTo')?.value !== 'PETTY CASH'">
                                    <select formControlName="recurring" class="small-input">
                                        <option *ngFor="let recurring of recurrings" [ngValue]="recurring">{{recurring}}
                                        </option>
                                    </select>
                                </td>
                                <td>
                                    <input type="text" formControlName="description" placeholder="Description">
                                </td>

                                <td *ngIf="invoiceCreateFormGroup.get('billTo')?.value !== 'PETTY CASH'">
                                    <input type="number" formControlName="invoiceTotal" placeholder="Total"
                                        class="small-input" readonly>
                                </td>





                                <td *ngIf="invoiceCreateFormGroup.get('billTo')?.value == 'PETTY CASH'">
                                    <input type="text" formControlName="submitterName" placeholder="submitterName">
                                </td>

                                <td *ngIf="invoiceCreateFormGroup.get('billTo')?.value === 'PETTY CASH'">
                                    <input type="number" formControlName="itemAmount" placeholder="itemAmount"
                                        class="small-input" (change)="getTotalInvoiceAmountForRowPettyCash(item)">
                                </td>

                                <td *ngIf="invoiceCreateFormGroup.get('billTo')?.value === 'PETTY CASH'">
                                    <input type="number" formControlName="quantity" placeholder="Quantity"
                                        class="small-input" (change)="getTotalInvoiceAmountForRowPettyCash(item)">
                                </td>

                                <td *ngIf="invoiceCreateFormGroup.get('billTo')?.value === 'PETTY CASH'">
                                    <input type="number" formControlName="subTotal" placeholder="subTotal"
                                        class="small-input" readonly>
                                </td>

                                <td *ngIf="invoiceCreateFormGroup.get('billTo')?.value === 'PETTY CASH'">
                                    <input type="number" formControlName="ptcAdvance" placeholder="ptcAdvance"
                                        class="small-input" (change)="getTotalInvoiceAmountForRowPettyCash(item)">
                                </td>

                                <td *ngIf="invoiceCreateFormGroup.get('billTo')?.value === 'PETTY CASH'">
                                    <input type="number" formControlName="total" placeholder="Total" class="small-input"
                                        readonly>
                                </td>


                                <td *ngIf="checkinvoiceStatus !== 'SUBMITTED' ">
                                    <button type="button" (click)="removeItem(i)">Remove</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <ng-container *ngIf="checkinvoiceStatus !== 'SUBMITTED' ">
                    <button id="addItem" type="button" (click)="addItem()">Add Item</button>
                </ng-container>

            </div>

            <!-- Sub Total -->
            <div class="table-container mt-5">
                <table>
                    <tbody>
                        <ng-container *ngIf="invoiceCreateFormGroup.get('billTo')?.value !== 'PETTY CASH' ">
                            <tr>
                                <th>Subtotal</th>
                                <td>
                                    <input type="text" formControlName="subTotalAmount" placeholder="Total"
                                        class="small-input  text-center">
                                </td>
                            </tr>
                            <tr>
                                <th>Adjustment</th>
                                <input type="number" formControlName="adjustments" placeholder="adjustments"
                                    class="small-input text-center">
                            </tr>
                            <tr>
                                <th>Grand Total</th>
                                <td class="text-primary fw-bold">{{ (getTotalAmountWithOutPettyCash()) }}</td>
                            </tr>
                        </ng-container>
                        <ng-container *ngIf="invoiceCreateFormGroup.get('billTo')?.value === 'PETTY CASH' ">
                            <tr>
                                <th>Subtotal</th>
                                <td>
                                    <input type="text" formControlName="subTotalAmount" placeholder="Total"
                                        class="small-input text-center" readonly>
                                </td>
                            </tr>
                            <tr>
                                <th>Adjustment</th>
                                <input type="number" formControlName="adjustments" placeholder="adjustments"
                                    class="small-input text-center">
                            </tr>
                            <tr>
                                <th>Grand Total</th>
                                <td class="text-primary fw-bold">{{ (getTotalAmountWithAdjustmentPettyCash()) }}</td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
            <ng-container *ngIf="checkinvoiceStatus !== 'SUBMITTED' ">
                <button id="saveInvoice" class="btn btn-warning save-btn" type="button" (click)="saveInvoice()">Save
                    Invoice</button>
                <button id="submitInvoice" class="ml-2 btn btn-primary" type="button"
                    (click)="submitInvoice('SUBMITTED')" *ngIf="isViewSubmitButton && userRole !== 'USER'">Submit
                    Invoice</button>
                <button id="rejectedInvoice" class="ml-2 btn btn-danger" type="button"
                    (click)="submitInvoice('REJECTED')" *ngIf="userRole !== 'USER'">Rejected Invoice</button>
            </ng-container>
        </div>
    </div>
</div>