<app-header></app-header>
<app-sidebar class=""></app-sidebar>
<div class="mainPortion" [class.sidebar-open]="sidebarActive">
  <div class="dashboardMain">
    <div class="dashboard">
      <h2>Dashboard</h2>
      <div class="invoice-tab">
        <div class="summary">
          <div class="sumTab">
            <div class="headerSum"> invoice Summary</div>
            <div class="fourCard">
              <div class="cradData">
                <span class="">Draft Invoice</span>
                <h3>$0</h3>
                <p>view Draft invoices</p>
              </div>

              <div class="cradData">
                <span class="">Draft Invoice</span>
                <h3>$0</h3>
                <p>view Draft invoices</p>
              </div>
              <div class="cradData">
                <span class="">Draft Invoice</span>
                <h3>$0</h3>
                <p>view Draft invoices</p>
              </div>
              <div class="cradData">
                <span class="">Draft Invoice</span>
                <h3>$0</h3>
                <p>view Draft invoices</p>
              </div>

            </div>

          </div>
          <div class="sumTab">
            <div class="headerSum"> invoice Summary</div>
            <div class="fourCard">
              <div class="cradData">
                <span class="">Draft Invoice</span>
                <h3>$0</h3>
                <p>view Draft invoices</p>
              </div>
              <div class="cradData">
                <span class="">Draft Invoice</span>
                <h3>$0</h3>
                <p>view Draft invoices</p>
              </div>
              <div class="cradData">
                <span class="">Draft Invoice</span>
                <h3>$0</h3>
                <p>view Draft invoices</p>
              </div>
              <div class="cradData">
                <span class="">Draft Invoice</span>
                <h3>$0</h3>
                <p>view Draft invoices</p>
              </div>

            </div>

          </div>


        </div>

      </div>
      <div class="">

      </div>

    </div>

  </div>
</div>