<div class="component_body">
  <h1 class="component_title">Dashboard</h1>

  <!-- Row containing Cost Center and Expense Type tables -->
  <div class="horizontal-container">
    <div class="horizontal-item">
      <h3>Cost Center</h3>
      <button id="AddCostCenter">Add</button>
      <form [formGroup]="costCenterForm">
        <table id="costCenterTable">
          <thead>
            <tr>
              <th style="min-width: 170px">Cost Center Name</th>
              <th style="min-width: 170px">Cost Center Code</th>
              <th style="min-width: 100px">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <input type="text" formControlName="centerName" placeholder="Cost Center Name" class="small-input">
              </td>
              <td>
                <input type="text" formControlName="centerCode" placeholder="Cost Center Code" class="small-input">
              </td>
              <td>
                <button id="edit" type="button" class="edit-btn small-input">Edit</button>
                <button id="delete" type="button" class="delete-btn small-input">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>

    <div class="horizontal-item">
      <h3>Expense Type</h3>
      <form [formGroup]="expenseTypeForm">
        <table id="expenseTypeTable">
          <thead>
            <tr>
              <th style="min-width: 170px">Name of Chart of Account</th>
              <th style="min-width: 170px">Code (6-8 digits only)</th>
              <th style="min-width: 100px">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <input type="text" formControlName="expenseName" placeholder="Name" class="small-input">
              </td>
              <td>
                <input type="text" formControlName="expenseCode" placeholder="Code" class="small-input">
              </td>
              <td>
                <button id="edit" type="button" class="edit-btn small-input" onclick="createExpenseType()">Edit</button>
                <button id="delete" type="button" class="delete-btn small-input">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>

  <!-- Row for Departments/Vendors table -->
  <div class="horizontal-item">
    <h3>Departments</h3>
    <form [formGroup]="departmentForm">
      <table id="departmentTable">
        <thead>
          <tr>
            <th style="min-width: 170px">Department Name</th>
            <th style="min-width: 170px">Manager</th>
            <th style="min-width: 170px">Submitter</th>
            <th style="min-width: 100px">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <input type="text" formControlName="departmentName" placeholder="Department Name" class="small-input">
            </td>
            <td>
              <input type="text" formControlName="departmentManager" placeholder="Department Manager"
                class="small-input">
            </td>
            <td>
              <input type="text" formControlName="submitter" placeholder="Submitter" class="small-input">
            </td>
            <td>
              <button id="edit" type="button" class="edit-btn small-input" onclick="createDepartments()">Edit</button>
              <button id="delete" type="button" class="delete-btn small-input">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</div>